
.blog-list-item-box {
    box-sizing: border-box;
    margin-bottom: 4rem;
    font-size: 1.9rem;

    a {
        color: var(--blueGray);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: var(--darkRed);
        }
    }
}

.blog-list-item-date-tags {
    margin-top: 0.5rem;
    box-sizing: inherit;
    font-size: 1.6rem;
}