
.blog-list-item-box {
    
    box-sizing: border-box;
    margin-bottom: 4rem;
    font-size: 1.9rem;


    a {
        color: var(--red);
        text-decoration: none;
        font-style: bold;
        &:hover {
            text-decoration: underline;
            // color: var(--darkRed);
        }
    }

    
}

.blog-list-item-date-tags {
    // margin-top: 0.5rem;

    box-sizing: inherit;
    font-style: italic;
}
