
.blog-list-item-box {
    
    box-sizing: border-box;
    margin-bottom: 4rem;
    font-size: 1.9rem;
    font-weight: 500;

    a {
        color: var(--text);
        text-decoration: none;
        font-style: bold;
        &:hover {
            text-decoration: none;
            color: var(--primary);
        }
    }

    
}

.blog-link {
    margin-bottom: 1rem;
}

.blog-list-item-date-tags {
    // margin-top: 0.5rem;

    box-sizing: inherit;
    font-style: italic;
}
