// $red: #FF4949;
$red: #FF0000;
$darkRed: #A81313;  // rgb(168, 19, 19)
$blueGray: #1A202C; // rgb(26, 32, 44);
$darkGray: #2E2E2E;
$slate: #1F1F1F;    // rgb(31, 31, 31);
$black: #101010;
$blue: #005bbb;
$yellow: #ffd500;
$white: #fff;
$grite: #d4d2d2;    // rgb(212, 210, 210);
$salmon: #FF7272;

// Base Constants
$text: #050505;     // rgb(45, 55, 72);
$heading: #000000;  // rgb(0, 0, 0);
$background: #ffffff;
$primary: #A81313;
$secondary: #5F6C80;
$divide: #9BAAC3;
