.site-container {
  position: relative;
  max-width: 1100px;
  min-height: 100vh;
  margin: 2rem auto 4rem auto;
  // margin-top: clamp(5rem, 4vw, 7rem);
  padding: 2rem;       // Fallback if browser doesn't support clamp()
  padding: clamp(2rem, 1vw, 4rem);
  // box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.044);
  // border: 5px solid white;
  @media (max-width: 1100px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

}

.site-container::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  background-image: url(../../images/abort-panel-1.svg);
  background-size: cover;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  // background: white;
  padding: 1.5rem;

}

@media screen and (max-width: 800px) {
  .site-container,
  .content-container { 
    margin: 0;
    padding: 0;
  }
  .content-container { 
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

@media (prefers-color-scheme: dark) {
  .site-container {
    background: transparent;
    // box-shadow: 0 0 0.1rem 0.05rem rgba(255, 255, 255, 0.4);
    // border: none;
  

    .content-container {
      // background: var(--blueGray);
      // color: var(--grite);
    }
  }

  
}

