.blog-post-template-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    h1 {
        color: var(--darkRed);
    }

    time {
        margin-left: 80%;
    }
}