.blog-post-template-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    h1 {
        font-size: 5rem;
        color: var(--darkGray);
    }

    
}

.blog-post-template-titlebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blog-post-template-provider {
    margin-top: 6rem;
}

@media screen and (max-width: 800px) {
    
    .blog-post-template-container {

        margin-top: 3rem;
        
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2.5rem;
            margin: 0 auto 2rem auto;
        }
    }

    .blog-post-template-provider {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
  }