.blog-listing-section {
    box-sizing: border-box;
    margin-top: 4rem;
    margin-bottom: 16rem;
    width: 100%;
    
}

.blog-listing-title {
    border-bottom: 1px solid var(--divide);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}