nav {
    margin-bottom: 4rem;

    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;


        display: grid;
        grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr;
        // grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
        
    }

    li {
        --rotate: 0deg;    // variable
        --scaleUp: 1;
        // transform: rotate(var(--rotate));
        transform: scaleX(var(--scaleUp));
        transition: all 0.7s;
        order: 1;

        // &:hover {
        //     // --rotate: 1deg;
        //     --scaleUp: 1.1;
        // }
    }

    a {
        font-size: 3rem;
        &:hover {
            text-decoration: none;
            color: var(--darkRed);
        }
        &[aria-current="page"] {
            color: var(--darkRed);
        }
        @media (max-width: 800px) {
            font-size: 2rem;
          }
    }

    
}