.nav-component {
    --rotate: 0deg; // variable
    --scaleUp: 1;
    margin-bottom: 10rem;

    @media screen and (max-width: 800px) {
        display: none;
    }

    .nav-list {
        margin: 0;
        padding-bottom: 2rem;
        text-align: center;
        list-style: none;


        display: grid;
        grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr;
        // grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: var(--divide);
    }

    .nav-item {

        transform: scaleX(var(--scaleUp));
        transition: all 0.7s;
        order: 1;

        a {
            font-size: 3rem;

            &:hover {
                text-decoration: none;
                transition: color 0.75s ease-in-out;
                // color: var(--darkRed);
            }

            &[aria-current="page"] {
                color: var(--currLink);
            }

            @media (max-width: 800px) {
                font-size: 2rem;
            }
        }
    }

}

.mobile-nav-component {
    display: none;

    @media screen and (max-width: 800px) {
        display: block;
        position: relative;

    }

    .mobile-nav-menu {
        padding: 1.5rem 3rem 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    // The overlay container and its contents (nav items) could be un-nested, but leaving it
    // nested to make it easier to see the structure.
    .mobile-nav-overlay-container {
        left: -2rem; // Coordinate with the .content-container in layout.module.scss
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: var(--red);
        padding-top: 3rem;

        .mobile-nav-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            a {
                color: var(--heading);
            }

            .mobile-nav-item {
                padding: 1rem 3rem;
                font-size: 3rem;

            }

        }

    }

}